node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Optional npm cache directort
.npm

# dotenv environment variable file
.env
