node_modules/
/test-results/
/test-results/
/blob-report/
playwright/.auth/user.json
/playwright-report/
/playwright/.cache/

# Optional npm cache directory
.npm

# dotenv environment variable file
.env
